<h1>Create a New Meetup</h1>
<fieldset>
  <div>
    <form method="post" action="/meetups">
      <label for="name">Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
			<input type="text" name="name" id="name" value="<%= @name %>"/><br><br><br>
      <label for="location">Location&nbsp&nbsp&nbsp&nbsp</label>
			<input type="text" name="location" id="location" value="<%= @location %>" /><br><br><br>
      <label for="description">Description</label>
			<input type="text" name="description" id="description" value="<%= @description %>" /><br><br><br>
      <input type="submit" value="Submit" />
    </form>
  </div>
</fieldset>
